<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <!-- 给实体Bean一个别名 -->
    <typeAlias alias="MapContainer" type="com.iblog.plugin.MapContainer" />
    <typeAlias alias="PageModel" type="com.iblog.plugin.PageModel" />
    
    <typeAlias alias="User" type="com.iblog.entity.User" />
    <typeAlias alias="Category" type="com.iblog.entity.Category" />
    <typeAlias alias="Post" type="com.iblog.entity.Post" />
    <typeAlias alias="Upload" type="com.iblog.entity.Upload" />
    <typeAlias alias="Link" type="com.iblog.entity.Link" />
    <typeAlias alias="Comment" type="com.iblog.entity.Comment" />
    <typeAlias alias="Option" type="com.iblog.entity.Option" />
    
    <typeAlias alias="PostVO" type="com.iblog.service.vo.PostVO" />
    <typeAlias alias="PageVO" type="com.iblog.service.vo.PageVO" />
    <typeAlias alias="CommentVO" type="com.iblog.service.vo.CommentVO" />
    <typeAlias alias="UploadVO" type="com.iblog.service.vo.UploadVO" />
  </typeAliases>
  <mappers>
    <mapper resource="mybatis/UserMapper.xml" />
    <mapper resource="mybatis/UploadMapper.xml" />
    <mapper resource="mybatis/TagMapper.xml" />
    <mapper resource="mybatis/OptionMapper.xml" />
    <!-- 
    <mapper resource="mybatis/CategoryMapper.xml" />
    <mapper resource="mybatis/PostMapper.xml" />
    <mapper resource="mybatis/LinkMapper.xml" />
    <mapper resource="mybatis/CommentMapper.xml" />
     -->
  </mappers>
</configuration>