<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongzhuogame.iblog.mapper.PostMapper">
	<select id="loadById" parameterType="java.lang.String" resultType="PostVO">
		select * from post where id = #{id}
	</select>
	
	<select id="getNextPost" parameterType="java.lang.String" resultType="Post">
		select id, title from post where type='post' and createTime > 
			(select createTime from post where id=#{postId}) limit 1
	</select>
	
	<select id="getPrevPost" parameterType="java.lang.String" resultType="Post">
		select id, title from post where type='post' and createTime &lt;
			(select createTime from post where id=#{postId}) order by createTime desc limit 1
	</select>
	
	<select id="list" parameterType="PageModel" resultType="java.lang.String">
		select id from post p where p.typ#{query.type} order by p.createTime desc
	</select>
</mapper>