<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>个人博客</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:config/spring-base.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 登录过滤 -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.iblog.filter.LoginFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>iblog</servlet-name>
	</filter-mapping>

	<servlet>
		<servlet-name>iblog</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- 设置Session时长:以分钟为单位;如果是零或负数,那么会话就永远不会超时。注：当前程序不使用session，使用cookie -->
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>

	<!-- 缺省首页 -->
	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>

	<servlet-mapping>
		<servlet-name>iblog</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/resource/error/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/resource/error/500.html</location>
	</error-page>

</web-app>
